h2 {
    text-align: center;
    color: white;
    margin: 10px 30px;
    padding: 8px;
    background-color: #333;
    opacity: 0.9;
    border-radius: 10px;
}

.tokenContainer {
    margin: 10px auto;
    background-color: white;
    width: 300px;
    padding: 5px;
    border-radius: 12px;
    text-align: center;
}

.tokenContainer .name {
    font-weight: bold;
}

.tokenContainer .price {
    font-weight: bold;
}

.tokenContainer img {
    width: 300px;
}