<mat-toolbar [ngStyle]="{ 'background-color': colour }" class='app-toolbar mat-elevation-z4'>
    <div class="logo-container">
        <a href="http://goinggone.io">
            <img src="../../assets/images/gg_small_logo.png"/>
        </a>
    </div>
    <div class="quicklinks-container">
        <ul>
            <li>
                <a routerLink="/club/{{clubId}}">Home</a>
            </li>
            <li>
                <a routerLink="/club/{{clubId}}/lots">Auction</a>
            </li>
            <li>
                <a routerLink="/club/{{clubId}}/faq">FAQ</a>
            </li>
        </ul>
    </div>
</mat-toolbar>