.app-toolbar {
    /* position: sticky;
    position: -webkit-sticky;  */
    position: fixed;
    top: 0; 
    z-index: 1000;
    height:56px;
}

.app-toolbar img{
    padding-top: 7px;
}

.app-toolbar button{
    position: fixed;
    right: 16px;
    color:white;
}

.quicklinks-container {
    position: fixed;
    right: 0px;
}

.quicklinks-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.quicklinks-container li {
    float: left;
}

.quicklinks-container a {
    background-color: transparent;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.9;
}

.quicklinks-container a:hover {
    opacity: 1;
}