.footer {
    color: white;
    padding: 0 16px 0 16px;
    z-index: 1000;
    font-weight: 200;
    margin-top: 60px;
}

.footerRow1{
    border-bottom: 1px white solid;      
}

.contactDetails{
    min-width: 150px; 
    padding: 16px 0 16px 0;
}

.contactDetails a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: block;
    text-align: center;  
}

.contactDetails .email{
    padding-bottom:10px
}

.contactDetails span{
    position: relative;
    top: -6px;
    padding-left: 5px;
}

.logo{
    float: left;
    text-align: center;
    width: 300px;
    padding: 16px 0 16px 0;
}

.logo label{
    position: relative;
    top: -13px;
    padding-right: 10px;
}

.social{
    min-width: 150px;
    text-align: center; 
    padding: 16px 0 16px 0;
}

.social ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.social ul li {
    display: inline-block;
    font-size: 20px;
    
}

.social a {
    text-decoration: none;
    color: white;
}

.social .centerIcon{
    padding: 0 20px 0 20px;
}

.termsConditions {
    min-width: 150px;
    text-align: center;
    padding: 16px 0 16px 0;
}

.termsConditions a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.version {
    width: 300px;
    text-align: center;
    font-size: 12px;
    padding: 16px 0 16px 0;
}

.copyright {
    min-width:150px;
    text-align: center;
    font-size: 12px;
    padding: 16px 0 16px 0;
}