<div class="footer" [ngStyle]="{ 'background-color': colour }">
  
  <!-- lt-md = 'littler than - medium' or smaller than 959px -->
  <div class="footerRow1" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between flex-start" fxLayoutAlign.lt-md="center center">

    <div class="contactDetails" fxFlexOrder.lt-md="3">
      <div class="email">
        <a href="mailto:info@goinggone.io">
          <mat-icon>email</mat-icon>
          <span>info@goinggone.io</span>
        </a>
      </div>

      <div>
        <a href="http://goinggone.io">
          <mat-icon>language</mat-icon>
          <span>www.goinggone.io</span>
        </a>
      </div>
    </div>

    <div class="logo" fxFlexOrder.lt-md="1">
      <label fxHide.lt-md="true">Powered by:</label>
      <a routerLink="/home">
        <img src="../../assets/images/gg_small_logo.png"/>
      </a>

      <p>If you would like to use the Going Gone system at your next event, please don't hesitate to get in touch at info@goinggone.io.</p>
    </div>

    <div class="social" fxFlexOrder.lt-md="2">
      <ul>
        <li>
          <a href="https://www.facebook.com/goinggonetechnology">
            <i class="fa fa-facebook"></i>
          </a>
        </li>

        <li class="centerIcon">
          <a href="https://www.instagram.com/goinggonetechnology">
            <i class="fa fa-instagram"></i>
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/company-beta/17881204/">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>

  </div>

  <div class="footerRow2" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between flex-start" fxLayoutAlign.lt-md="center center">
    <div class="termsConditions">
      <a routerLink="/terms-and-conditions">
        <span>Terms &  Conditions</span>
      </a>
    </div>

    <div class="version">
      <span>Version 2.0.0</span>
    </div>

    <div class="copyright">
      <div>
        <span>© Copyright 2018. Going Gone.</span>
      </div>
    </div>
  </div>

</div>
