<div class="footer" [ngStyle]="{ 'background-color': colour }">

  <div class="footer-row">

    <div class="footer-email">
      <div>
        <a href="mailto:info@goinggone.io">
          <i class="fa fa-envelope"></i>
          info@goinggone.io
        </a>
      </div>

      <div>
        <a href="http://goinggone.io">
          <i class="fa fa-globe"></i>
          www.goinggone.io
        </a>
      </div>
    </div>

    <div class="footer-logo">
      <label>Powered by:</label>
      <a routerLink="/home">
        <img src="../../assets/images/gg_small_logo.png"/>
      </a>

      <p>If you would like to use the Going Gone system at your next event, please don't hesitate to get in touch at info@goinggone.io.</p>
    </div>

    <div class="footer-social">
      <ul>
        <li>
          <a href="https://www.facebook.com/goinggonetechnology">
            <i class="fa fa-facebook"></i>
          </a>
        </li>

        <li>
          <a href="https://www.instagram.com/goinggonetechnology">
            <i class="fa fa-instagram"></i>
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/company-beta/17881204/">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>

  </div>

  <div class="footer-row">
    <div class="footer-terms">
      <a routerLink="/terms-and-conditions">
        Terms &  Conditions
      </a>
    </div>

    <div class="footer-version">
      Version 2.0.0
    </div>

    <div class="footer-copyright">
      <div>
        © Copyright 2018. Going Gone.
      </div>
    </div>
  </div>

</div>
