<div>
    <h2 mat-dialog-title>Confirm your bid</h2>

    <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">

        <mat-dialog-content>
            <div class='introduction'>
                <span>In order to confirm your bid, please enter your details below.
                Your card will be pre-authorised and will ONLY be charged if you win the auction.</span>
            </div>

            <mat-form-field>
                <input matInput placeholder="My Bid" value="£{{data.amount}}" readonly>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Full Name" required [(ngModel)]="fullName" name="fullName" #name="ngModel"
                       maxlength="40">
                <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                    Please enter your full name
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="emailAddress" id="email" name="email" #email="ngModel"
                       required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" maxlength="50">
                 <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Phone" type="tel" [(ngModel)]="phone" name="phone" #phoneNum="ngModel"
                       pattern="^[0-9-+s()]*$" required maxlength="20">
                <mat-error *ngIf="phoneNum.invalid && (phoneNum.dirty || phoneNum.touched)">
                    Please enter a valid phone number
                </mat-error>
            </mat-form-field>

            <div class="form-group">
                <label for="card-info">Card Details</label>
                <div id="card-info" #cardInfo></div>

                <div id="card-errors" class="validationErrorText" role="alert" *ngIf="error">{{ error }}</div>
            </div>
        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button mat-raised-button (click)="onCloseCancel()">CANCEL</button>
            <button mat-raised-button class="confirmButton" type="submit"
                    [disabled]="!checkout.valid || isBidInProgress">CONFIRM BID
            </button>
        </mat-dialog-actions>

    </form>


</div>