<div>
    <h2 mat-dialog-title>Confirm your bid</h2>
    <hr>

    <form #bidForm="ngForm">
        <mat-dialog-content>
            In order to confirm your bid, please enter your details below.

            <div class="form-group">
                <label for="email">Email Address*</label>
                <input type="email" class="form-control" [(ngModel)]="emailAddress" id="email" name="email" #email="ngModel" required/>
            </div>

            <div class="validationErrorText" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required">
                    Email Address is required
                </div>
            </div>

            <div class="form-group">
                <label for="amount">My Bid</label>
                <input type="text" class="form-control" id="amount" value="£{{data.amount}}" readonly>
            </div>
        </mat-dialog-content>
        <hr>
        <mat-dialog-actions>
            <button mat-raised-button (click)="onCloseCancel()">CANCEL</button>&nbsp;
            <button mat-raised-button class="confirmButton" type="submit" (click)="onCloseConfirm()" [disabled]="!bidForm.valid">CONFIRM BID</button>
        </mat-dialog-actions>
    </form>
</div>