.background {
    background-color: rgb(238, 238, 238);
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.app-toolbar {
    background-color: #002B88;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    height:56px;
}

.app-toolbar img{
    padding-top: 7px;
}

h2 {
    text-align: center;
    color: white;
    margin: 10px auto;
    padding: 8px;
    background-color: #333;
    opacity: 0.9;
    border-radius: 10px;
    max-width: 400px;
}

.pageHeader {
    color: white;
    margin: 0 0 0 0px;
    padding: 20px;
    background-color: rgb(0, 43, 136);
    opacity: 0.9;
    width: auto;
    font-weight: normal;
    text-align: left;
    font-size: 20px;
    margin-bottom: 60px;

}

.pageHeader a {
    color: white;
}

.pageHeader mat-icon {
    padding-right: 10px;
    position: relative;
    top: 5px;

}

.lotImageContainer {
    margin: 0 auto;
    padding: 20px;
}

.lotImageContainer img {
    width: 300px;
}

table.bids {
    margin: 10px auto;
    width: 80%;
}

table.bids td {
    border-bottom: 1px solid #CCC;
    padding: 10px;
}

button.acceptBidButton {
    background: #4dcc27;
    color: #fff;
}

.winningBidContainer {
    margin: 0 auto;
}