<app-header [organisationId]="organisationId" [colour]="Organisation.primaryColour"></app-header>

<div class="background"></div>

<div fxLayout="column" class="headerSection" [ngStyle]="{ 'background-color': Organisation.primaryColour}">
    <div class="orgLogo">
        <img src="{{Organisation.logoUrl}}"/>
    </div>

    <h1>
        {{Organisation.title}}
    </h1>

    <h2>
        FAQ
    </h2>
</div>

<div>
    <ul>
        <li *ngFor="let faq of Organisation.faqs">
            <div>
                {{faq.question}}
            </div><div>
                {{faq.answer}}
            </div>
        </li>
    </ul>
</div>

<app-footer [colour]="Organisation.primaryColour"></app-footer>