.background {
    background-color: rgb(238, 238, 238);
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.headerSection {
    height: 350px;
    background-color: rgb(0, 43, 136);
    margin-bottom: 60px;
    align-items: center;
}

.headerSection h1 {
    color: white;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0px;
    padding: 0px 10px 0px 10px;
}

.headerSection h2 {
    color: white;
    font-size: 16px;
    font-weight: normal;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.orgLogo {
    height: 160px;
    padding-top: 50px;
}
.orgLogo img {
    height: 160px;
}