.background {
    background-color: rgb(238, 238, 238);
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.pageHeader {
    color: white;
    margin: 0 0 0 0px;
    padding: 20px;
    opacity: 0.9;
    width: auto;
    font-weight: normal;
    text-align: left;
    font-size: 20px;
    margin-bottom: 60px;
}

.accordionContainer{
    max-width: 980px;
    margin: 20px auto 20px !important;
    padding: 0 10px 0 10px;
}