<div class="background"></div>

<div class="headerSection">
    <div class="clubLogo">
        <img src="{{club.logoUrl}}"/>
    </div>

    <h1>
        {{ title }}
    </h1>

    <h2>
        Player Sponsorship Sealed Bid Auction
    </h2>
</div>

<div class="banner">
    <div class="bannerText">
        TBC Banner Text
    </div>
    <div class="lotsButtonContainer">
        <button mat-raised-button class="lotsButton" routerLink="/club/{{clubId}}/lots">
            View the auction lots
        </button>
    </div>
</div>

<div class="introductionContainer">
    <div class="introductionText">
        TBC Introduction Text
    </div>
</div>

<div class="clubDetailsContainer">
    <div class="clubDetailsCard">
        <div class="whenContainer">
            <label>When</label>
            <div>TBC Closing date/time</div>
        </div>
    </div>

    <div class="clubDetailsCard">
        <div class="contactContainer">
            <label>Contact</label>
            <div>{{club.contactEmail}}</div>
        </div>
    </div>

    <div class="clubDetailsCard">
        <div class="websiteContainer">
            <label>Website</label>
            <div>
                <a href="{{club.websiteUrl}}" target="_blank">
                    {{club.websiteUrl}}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="descriptionContainer">
    <div class="descriptionHtml">
        TBC Description HTML
    </div>
</div>
