.background {
    background-color: rgb(238, 238, 238);
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

h1 {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: normal;
}

h2 {
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: normal;
}

.headerSection {
    height: 350px;
    background-color: rgb(0, 43, 136);
    margin-bottom: 40px;
}

.clubLogo {
    height: 160px;
    text-align: center;
    padding-top: 70px;
}
.clubLogo img {
    height: 160px;
}

.bannerContainer {
    margin-bottom: 40px;
}

.banner {
    padding: 40px 100px;
    background: center/cover no-repeat #789;
    min-height: 160px;
    max-width: 700px;
    margin: 0 auto;
}

.bannerText {
    font-size: 30px;
    background: rgba(0,0,0,0.38);
    text-transform: uppercase;
    color: #fff;
    padding: 0 10px;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}

.lotsButtonContainer {
    margin-top: 40px;
    text-align: center;
}

.lotsButton {
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.introductionContainer {
    max-width: 900px;
    margin: 35px auto 0;
}

.introductionText {

}

.clubDetailsContainer {
    margin: 0 auto;
    width: 400px;
}

.clubDetailsCard {
    background: white;
    color: black;
    margin: 25px auto;
    padding: 15px;
    text-align: center;
}

.clubDetailsCard label {
    color: #6f6f6f;
    font-size: 12px;
    margin-bottom: 6px;
}

.descriptionContainer {
    max-width: 900px;
    margin: 35px auto 0;
}

.descriptionHtml {

}