.background {
    background-color: rgb(238, 238, 238);
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

h1 {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: normal;
}

h2 {
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: normal;
}

.headerSection {
    height: 300px;
    background-color: rgb(0, 43, 136);
}

.clubLogo {
    height: 160px;
    text-align: center;
    padding-top: 20px;
}
.clubLogo img {
    height: 160px;
}

.lotList {
    width: 100%;
    float: left;
}

.lotsButtonContainer {
    margin: 10px auto;
    text-align: center;
}

.lotsButton {
    color: white;
}

.clubDetailsContainer {
    margin: 0 auto;
    width: 400px;
}

.clubDetailsCard {
    background: white;
    color: black;
    display: inline-grid;
    margin: 10px;
    padding: 10px;
    width: 360px;
    height: 100px;
    text-align: center;
}

.contactContainer {

}

.websiteContainer {

}