<app-header [clubId]="clubId" [colour]="club.primaryColour"></app-header>

<div class="background"></div>

<div class="headerSection" [ngStyle]="{ 'background-color': club.primaryColour}">
    <div class="clubLogo">
        <img src="{{club.logoUrl}}"/>
    </div>

    <h1>
        {{title}}
    </h1>

    <h2>
        {{club.subtitle}}
    </h2>
</div>

<div class="banner" [ngStyle]="{ 'background-image': 'url(' + club.bannerUrl + ')'}">
    <div class="bannerText">
        {{club.bannerText}}
    </div>
    <div class="lotsButtonContainer">
        <button mat-raised-button class="lotsButton" routerLink="/club/{{clubId}}/lots">
            View the auction lots
        </button>
    </div>
</div>

<div class="introductionContainer">
    <div class="introductionText">
        {{club.introText}}
    </div>
</div>

<div class="clubDetailsContainer">
    <div class="clubDetailsCard">
        <div class="whenContainer">
            <label>When</label>
            <div>Ends {{club.closingDate | date:'h:mm a, d LLLL y'}}</div>
        </div>
    </div>

    <div class="clubDetailsCard">
        <div class="contactContainer">
            <label>Contact</label>
            <div>{{club.contactEmail}}</div>
        </div>
    </div>

    <div class="clubDetailsCard">
        <div class="websiteContainer">
            <label>Website</label>
            <div>
                <a href="{{club.websiteUrl}}" target="_blank">
                    {{club.websiteUrl}}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="descriptionContainer">
    <div class="descriptionHtml" [innerHtml]="club.descriptionHtml"></div>
</div>

<app-footer [colour]="club.primaryColour"></app-footer>