.lotContainer{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lotCard mat-card{
    width: 275px;
    margin-top: 12px;
    padding: 0 12px 12px 12px;
}

.lotCard mat-card:hover {
    box-shadow: 0 5px 12px -7px rgba(0, 0, 0, 0.22), 0 9px 19px -3px rgba(0, 0, 0, 0.3);
  }

.lotCard img{
    /* margin: -24px auto 0; */
    max-width:100%;
    border-radius: 2px;
    position: relative;
    top: -12px;
}

.lotCard mat-card-title{
    text-align:center;
    margin-bottom: 12px;
    font-size: 22px;
    min-height: 50px;
}

.lotCard mat-card-content{
    border-top: 1px solid #eee;
    padding-top: 10px;
    font-size: 18px;
}

.lotCard mat-card-actions{
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px;

}

.lotCard button{
    width: 100%;
    background: #4dcc27;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.lotCard button:hover {
    background: #3ea120;
}



.lotCard mat-icon{
    height: 27px;
    width: 27px;
}

.lotCard .lotPricing {
    margin: 14px auto;
    text-align: left;
}

.lotCard .lotPricing div {
    display: inline-block;
    width: 100px;
    font-size: 18px;
}

.lotCard .value{
    font-weight: bold;
}


/* .lotContainer .name {
    font-weight: bold;
    font-size: 18px;
    padding: 25px 0 45px;
    border-bottom: 1px solid #EEE;
}

.lotContainer .price {
    font-weight: bold;
    margin: 14px auto;
    text-align: left;
}

.lotContainer .price div {
    display: inline-block;
    width: 100px;
    font-weight: normal;
    font-size: 18px;
}

.lotContainer div.imageContainer {
    position: relative;
}

.lotContainer div.providedBy {
    position: absolute;
    z-index: 1;
    bottom: 4px;
    text-align: center!important;
    padding: 8px 0;
    background: rgba(207,207,207,.8);
    border-radius: 0 0 4px 4px;
    font-size: 14px;
    width: 100%;
}

.lotContainer img {
    margin: -24px auto 0;
    height: 200px;
    width: 100%;
    background: #cdcecd;
    border-radius: 5px;
}

.lotsButtonContainer {
    margin: 10px auto;
    text-align: center;
}

.viewButton {
    width: 100%;
    background: #4dcc27;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 5px 0;
} */