.lotContainer {
    margin: 10px auto;
    background-color: white;
    width: 300px;
    padding: 5px;
    border-radius: 12px;
    text-align: center;
}

.lotContainer .name {
    font-weight: bold;
}

.lotContainer .price {
    font-weight: bold;
}

.lotContainer img {
    width: 300px;
}