div.auctionNav {
    width: 200px;
    background-color: rgb(243, 243, 243);
    color: white;
    overflow-x: hidden;
    position: fixed;
    top: 50px;
    left: 0;
}

ul.menuItemList {
    padding:0;
    margin:0;
}

ul.menuItemList li {
    list-style-type: none;
    border: 1px solid rgb(233, 233, 233);
    margin-bottom: 1px;
}

ul.menuItemList li a {
    text-decoration: none;
    color: #888;
    padding: 12px;
    display: block;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: all .3s ease!important;
    transition: all .3s ease!important;
}

ul.menuItemList li a:hover {
    background: #888;
    color: white;
}