h2 {
    text-align: center;
    color: white;
    margin: 10px 30px;
    padding: 8px;
    background-color: #333;
    opacity: 0.9;
    border-radius: 10px;
}

.portfolioContainer {
    margin: 10px auto;
    background-color: white;
    width: 300px;
    padding: 5px;
    border-radius: 12px;
    text-align: center;
}

.portfolioContainer .name {
    font-weight: bold;
}

.totalValue {
    font-weight: bold;
}

.holding .details {
    font-size: small;
}

.createContainer {
    width: 60%;
    float: left;
    margin: 0 18%;
    background-color: #333;
    opacity: 0.9;
    padding: 20px;
    border-radius: 6px;
}

h3 {
    margin: 0 auto;
    color: white;
}

.inputContainer {
    margin: 8px auto;
    clear: both;
    padding-top: 10px;
}

label {
    color: white;
    margin: 10px auto;
    display: block;
    float: left;
}

input[type=text] {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: right;
}

.holdings {
    float: right;
    margin: 4px auto;
}

input[type=number] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90px;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid #ccc;
}

select {
    width: 100px;
    height: 40px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button[type=button] {
    float: right;
    clear: both;
    margin: 4px auto;
    padding: 12px;
    border-radius: 4px;
    border:none;
    background-color: blue;
    color: white;
    cursor: pointer;
}

button[type=button]:hover {
    background-color: darkblue;
}

button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    clear: both;
}

button[type=submit]:hover {
    background-color: #45a049;
}