<h2>
  My Portfolios
</h2>

<div class="portfolioContainer" *ngFor="let portfolio of Portfolios">
  <div class="name">Portfolio: {{portfolio.name}}</div>
  <div class="totalValue">Total: {{portfolio.totalValue | currency}}</div>
  <div class="holding" *ngFor="let holding of portfolio.holdings">
    <div class="details">
      {{holding.quantity}} {{holding.tokenName}} = {{holding.value | currency}}
    </div>
  </div>
</div>

<div class="createContainer">
  <h3>Create New Portfolio</h3>
  <form [formGroup]="portfolioForm" (ngSubmit)="createPortfolio(portfolioForm.value)" ngNativeValidate>
    <div class="inputContainer">
      <label for="formName">Portfolio Name</label>
      <input id="formName" type="text" formControlName="name" required/>
    </div>
    <div class="inputContainer">
      <label>Portfolio Holdings</label>
      <div class="holdings" formArrayName="holdings" *ngFor="let holding of holdings.controls; let i = index;">
        <div [formGroupName]="i">
          <select formControlName="tokenId">
            <option *ngFor="let token of Tokens" value= "{{token.id}}">
              {{token.name}}
            </option>
          </select>
          <input type="number" formControlName="quantity" placeholder="Quantity"/>
        </div>
      </div>
      <button type="button" (click)="addHolding()">Add Another</button>
    </div>
    <div class="inputContainer">
      <button type="submit">Create</button>
    </div>
  </form>
</div>