<app-header [organisationId]="organisationId" [colour]="Organisation.primaryColour"></app-header>

<div class="background"></div>

<mat-sidenav-container class="fullscreenContainer" fullscreen>

    <mat-sidenav mode="side" [opened]="screenWidth > 600" class="sideNav" #sidenav>
    <div class="nav">
        <app-auction-nav [organisationId]="organisationId"></app-auction-nav>
    </div>
    </mat-sidenav>

    <mat-sidenav-content class="page-wrap">

        <h1 [ngStyle]="{ 'background-color': Organisation.primaryColour}">
            <!-- <button type="button" mat-icon-button (click)="sidenav.open()" title="Open sidenav">
                <mat-icon>menu</mat-icon>
            </button> -->
            {{ Organisation.title }} Auction
        </h1>

        <div class="showSideNav" (click)="showNav()">Filter Results</div>

        <div class="lots">
            <app-lot-list [organisationId]="organisationId"></app-lot-list>
        </div>

        <app-footer [colour]="Organisation.primaryColour"></app-footer>

    </mat-sidenav-content>

    

</mat-sidenav-container>




