.background {
    background-color: rgb(238, 238, 238);
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.pageHeader {
    color: white;
    margin: 0 0 0 0px;
    padding: 20px;
    background-color: rgb(0, 43, 136);
    opacity: 0.9;
    width: auto;
    font-weight: normal;
    text-align: left;
    font-size: 20px;
    margin-bottom: 60px;
}

.pageHeader a {
    color: white;
}

.pageHeader mat-icon {
    padding-right: 10px;
    position: relative;
    top: 5px;
    
}

mat-card.lotDetailsCard{
    padding: 12px;
}

mat-card.lotDetailsCard.inputCard{
    height: 100%;
}
.lotDetailsCard .lotPricing {
    margin: 10px auto;
    text-align: left;
}

.lotDetailsCard .lotPricing div {
    display: inline-block;
    width: 100px;
    font-size: 18px;
}

.lotDetailsCard mat-form-field {
    flex-grow: 1;
}

.lotDetailsCard button {
    flex-grow: 1;
}

.containerRow{
    max-width: 980px;
    margin: 20px auto 20px !important;
    padding: 0px 10px 0px 10px;
    flex-flow: row wrap;
    justify-content:center;
}

.containerRow.secondRow{
    position: relative;
    top: -20px;
}

.lotContentContainer{
    flex: 1 0 0;
    padding: 12px;
    align-items: center;
    min-width: 350px;
}

.lotContentContainer .lotDetailsCard{
    align-items: center;
}

.lotContentContainer img {
    width: 100%;
}

.bidButton {
    background: #4dcc27;
    color: #fff;
    font-size: 18px;
    padding: 5px;
}

.bidButton mat-icon {
    padding-right: 8px;
}