<app-header [clubId]="clubId" [colour]="club.primaryColour"></app-header>

<div class="background"></div>

<div class="content">
    <div class="titleSection">
        <button mat-raised-button class="backButton"
                routerLink="/club/{{clubId}}/lots">
            << All Lots
        </button>

        <h1>
            {{ lot.title }}
        </h1>
    </div>

    <h2>
        provided by {{lot.providedBy}}
    </h2>

    <div class="lotBiddingContainer">
        <div class="bidDetailsContainer">
            <div class="price">
                <div class="label">
                    Reserve:
                </div>
                <div class="amount">
                    £{{lot.reservePrice}}
                </div>
            </div>

            <div class="price">
                <div class="label">
                    Estimate:
                </div>
                <div class="amount">
                    £{{lot.estimate}}
                </div>
            </div>
        </div>

        <div class="bidDetailsContainer">
            <div>
                <label>My bid <span class="minText">(minimum £{{lot.reservePrice}})</span>*</label>
                <input [(ngModel)]="amount" type="number" placeholder="0"/>
                <button mat-raised-button class="bidButton" [disabled]="amount < lot.reservePrice"
                        (click)="openBidPopup()">
                    Place Bid
                </button>
            </div>
        </div>
    </div>


    <div>
        <div class="lotImageContainer">
            <img src="{{lot.imageUri}}"/>
        </div>

        <div class="lotDescriptionContainer" [innerHTML]="lot.description"></div>
    </div>
</div>

<app-footer [colour]="club.primaryColour"></app-footer>