.background {
    background: url('../../assets/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

h1 {
    text-align: center;
    color: white;
    margin: 0 0 0 200px;
    padding: 8px;
    background-color: #333;
    opacity: 0.9;
    border-radius: 10px;
    width: auto;
}

.nav {
    height: 100%;
}

.lots {
    margin-left: 200px;
}