.background {
    background-color: rgb(238, 238, 238);
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

h1 {
    color: white;
    margin: 0 0 0 200px;
    padding: 65px 14px 14px;
    opacity: 0.9;
    width: auto;
    font-weight: normal;
    text-align: left;
    font-size: 20px;
}

.nav {
    height: 100%;
}

.lots {
    margin-left: 200px;
    margin-top: 50px;
    min-height: 350px;
}