.background {
    background: url('../../assets/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

h1 {
    text-align: center;
    color: white;
    margin: 10px auto;
    padding: 8px;
}

.tokenList, .portfolioList {
    width: 50%;
    float: left;
}