h2 {
    text-align: center;
    color: white;
    margin: 10px auto;
    padding: 8px;
    background-color: #333;
    opacity: 0.9;
    border-radius: 10px;
    max-width: 400px;
}

.orgContainer {
    background-color: white;
    width: 280px;
    padding: 5px;
    border-radius: 12px;
    text-align: center;
    margin: 20px auto;
}

.orgContainer .title {
    font-weight: bold;
}
.orgContainer .title a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.orgContainer .orgLogo {
    height: 120px;
}